table{
  border-collapse: collapse;
  margin: auto;
}
td{
  padding: 0px;
  border: 2px solid black;
}
h1{
  text-align: center
}
p{
  text-align: center;
  padding: 10px;
}
.square {
  background: #fff;
  border: 0px solid black;
  float: left;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  padding: 0;
  text-align: center;
  width: 50px;
}
.solve{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.answers{
  width: 90%;
  border: 1px solid black;
  margin: auto;
}
